html,
body {
  background:  #F9F9F9;;
  padding: 0;
  margin: 0;
  font-family: 'Manrope';
  font-display: swap;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.025em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
}

:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-grey_100: #CFD0D3;
  --clr-grey_200: #A5B4CB;
  --clr-blue: #3F8CFF;
  --clr-blue_100: #F4F9FF;
  --clr-red: #FF8A8F;
  --clr-green: #70CF97;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.no-scroll {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

p {
  font-size: clamp(16px, 1.2vw, 25px);
  color: crimson;
}